<div class="container">
    <div class="row">
      <div class="col-12">

        <div>
          {{i+1}}: {{empleado.nombre}} {{empleado.apellido}} {{empleado.cargo}} {{empleado.salario}}
          <a [routerLink]="['/actualizar_empleado', i]" [queryParams]="{accion:'actualizar'}">Actualizar</a>
          <a [routerLink]="['/actualizar_empleado', i]" [queryParams]="{accion: 'eliminar'}">Eliminar</a>
        </div>

        <app-caracteristicas-empleado (caracteristicasEmpleados)="agregarCaracteristica($event)"></app-caracteristicas-empleado>
        
        <ul>
          <li *ngFor="let caracteristica of arrayCaracteristicas">{{caracteristica}}</li>
        </ul>

      </div>
    </div>
  </div>
